.colorTable{
    width:100%;
    margin:5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding:3rem;
    padding-top:3rem;
    padding-bottom:5rem;
    background: rgba(#fff,.25);


    &__labels{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
    }

    &__heading{
        margin-bottom:3rem;
        font-weight:bold;
        font-size:1.7rem;
        color:#fff;
        padding:1rem;
        &::after{
            content:'\2193';
            color:#fff;
            margin-left:1rem;
        }
    }
    &__item{
        padding:1.5rem 4rem;
        color:#fff;
        //margin:1.5rem;
        font-weight: 900;
        letter-spacing:2px;
        text-transform: uppercase;
        border:none;
        cursor:pointer;
        transition: transform .2s;
        position:relative;
    }
}