.gradient{
    background:#fff;
    display:flex;
    width:calc(100% - 2rem);
    margin:0 auto;
    height:70%;

    &__linear{
        & input{

        }
        &--btn{
            padding:.5rem 1rem !important;
            margin-left:1rem;
        }
    }

    &__radial{
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
        & select{
            margin:1rem 0;
            width:14.5rem;
        }

        &--pos{
            display:flex;
            justify-content: flex-start;
            flex-direction: column;
            & div{
                display: flex;
                &:not(:last-child){
                    margin-bottom:1rem;
                }
                
            }
            & button{
                margin-left:1rem;
                padding:.1rem .5rem !important;
            }
        }

        & input{
            margin:1rem 0;
        }
    }

    &__container{
        width:60%;
        height:100%;
    }
    &__controls{
        height:100%;
        width:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding:2rem;

        &--switch{
            width:16rem;
            //padding-left:2rem;
            margin-left:2rem;
        }

        &--wrapper{
            display: flex;
            flex-wrap:wrap;
            align-items: center;
        }

        &--table{
            
            width:100%;
            border-collapse: collapse;
            margin-bottom:1rem;
            & tr{
                width:100%;
            }
            & td{
                padding:2rem;
            }
        }
        &--colors{
            display: flex;
            flex-wrap:wrap;
            padding:2rem;
            &--item{
                padding:1rem 4rem;
                font-weight:bold;
            }
        }
        &--code{
            width:100%;
            //text-align: center;
            display: block;
            align-self: flex-end;
            padding:2rem;
        }

        &--btn{
            border:none;
            background: rgb(233, 30, 99);
            padding:1rem 3rem;
            color:#fff;
            letter-spacing: 1px;
            cursor:pointer;
            text-transform: uppercase;
            transition: transform .2s;
            &:hover{
                transform:translateY(-2px)
            }
            &:active{
                transform: translateY(0)
            }
        }
    }
    

}