.gradient{
    background:#fff;
    display:flex;
    width:calc(100% - 2rem);
    margin:0 auto;
    height:50%;

    &__edit{

    }

    &__container{
        width:60%;
        height:100%;
    }
    &__controls{
        height:100%;
        width:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding:2rem;

        &--table{
            order:1;
            width:100%;
            border-collapse: collapse;
            margin-bottom:1rem;
            & tr{
                width:100%;
            }
            & td{
                padding:2rem;
            }
        }

        &--code{
            width:100%;
            //text-align: center;
            display: block;
            align-self: flex-end;
            order:2;
            padding:2rem;
        }
        &--message{
            color:#ef5350;
            font-size:1.3rem;
        }
        &--btn{
            border:none;
            background: #ef5350;
            padding:1rem 3rem;
            color:#fff;
            cursor:pointer;
            text-transform: uppercase;
            transition: transform .2s;
            &:hover{
                transform:translateY(-2px)
            }
            &:active{
                transform: translateY(0)
            }
        }
    }
    

}