.gradient{
    background:#fff;
    display:flex;
    width:calc(100% - 2rem);
    margin:0 auto;
    height:50%;

    &__edit{

    }

    &__container{
        width:60%;
        height:100%;
    }
    &__controls{
        height:100%;
        width:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding:2rem;

        &--table{
            
            width:100%;
            border-collapse: collapse;
            margin-bottom:1rem;
            & tr{
                width:100%;
            }
            & td{
                padding:2rem;
            }
        }
        &--colors{
            display: flex;
            flex-wrap:wrap;
            padding:2rem;
            &--item{
                padding:1rem 4rem;
                font-weight:bold;
            }
        }
        &--code{
            width:100%;
            //text-align: center;
            display: block;
            align-self: flex-end;
            padding:2rem;
        }
        &--message{
            color:rgb(233, 30, 99);
            font-size:1.3rem;
            letter-spacing:1px;
            
        }
        &--btn{
            border:none;
            background: rgb(233, 30, 99);
            padding:1rem 3rem;
            color:#fff;
            letter-spacing: 1px;
            cursor:pointer;
            text-transform: uppercase;
            transition: transform .2s;
            &:hover{
                transform:translateY(-2px)
            }
            &:active{
                transform: translateY(0)
            }
        }
    }
    

}