*,
*::before,
*::after{
  margin:0;
  padding:0;
    box-sizing: inherit;
  }
  
  html{
    font-size: 62.5%;
    height: 100%;
    @media screen and (max-width:600px){
      font-size: 55%
    }
  }
  
  
  body{
    box-sizing:border-box;
    height:100%;
    font-family: 'Acme', sans-serif;
    background: rgba(#e0e0e0,.45)
  }

  button{
    font-family: 'Acme', sans-serif;
  }
  
  a{
    text-decoration: none;
    color:currentColor;
  }


  .main{
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin:5rem auto;
  }

  .palettes{
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    align-items: center;
    width:100%;
    padding:3rem;
    
  }

  .result{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(#000,.25);
    z-index:9999999999999999;
    &__close{
      position:fixed;
      top:5%;
      right:5%;
      color:#fff;
      cursor: pointer;
      z-index:99999999

      
    }
  }


  .scroll{
    position: relative;
    z-index:999999999;
    &__wrapper{
      width:100%;
      display: flex;
      justify-content: center;
      margin-top:-5rem;

    }
    
    margin-top:-2rem;
    margin-bottom:2rem;
    font-weight: bold;

    &__icon{
      animation: pulse 2s infinite;
      transition: transform .2s;
      background: rgba(#fff,.75);;
      color:rgb(233, 30, 99);
      padding:1rem;
      border-radius:50%;
      cursor:pointer;
    }
  }

  @keyframes pulse{
    0%{
      transform:scale(1.4)
    }

    50%{
      transform:scale(.7)
    }

    100%{
      transform: scale(1.4)
    }
  }
 